.cartComponent{
    display: flex;
    margin-left: 360px;
    height: fit-content;
    margin-top: 50px;
    max-width: 1300px;
}

.payment{
    max-width: 800px;
}

.fullProductInfo{
    margin-top: 20px;
    display: flex;
    border-radius: 8px; 
    padding: 10px;
    box-shadow: 2px 2px 4px 2px #888891;
    transition: .2s all;
    align-items: center;
}

.fullProductInfo:hover{
    cursor: pointer;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.fullProductInfo img{
    object-fit:contain;
    width: 20%;
    height: 100px;
}

.productAmount{
    margin-left: 20px;
}

.cenaProduct{
    margin-left: 20px;
}

.cart{
    display: flex;
    margin-top: 20px;
    margin-left: 50px;
    width: 200px;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px; 
    padding: 10px;
    box-shadow: 2px 2px 4px 2px #888891;
    transition: .2s all;
}

.cart .order{
    margin-top: 40px;
    border: lightgreen solid;
    border-width: thin;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
}

.cart .order:hover{
    background-color: lightgreen;
    cursor: pointer;
}




