/* import ciekawych czcionek */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  /* Bardzo ładna czcionka moim zdaniem */
  font-family: "Quicksand";
  /* Wstępny główny kolor aplikacji (obramowań, napisów itp)  - rzecz do przyszłych dyskusji */
  color: #130f99;
  margin: 0;
}

